<a id="U1A-Top"></a>

# Unit 1, Lesson A: Introduction to Jupyter and pandas
Not the planet and the animal; the Python tools for data analytics!

## Table of Contents

* [Getting Started](#U1A-Getting-Started)
* [Introduction to pandas](#Introduction-to-pandas)
* Exercises
  * [1](#U1A-Exercise-1), [2](#U1A-Exercise-2), [3](#U1A-Exercise-3), [4](#U1A-Exercise-4)
* [Exercise Answers](#U1A-Exercise-Answers)
* [Next Steps](#U1A-Next-Steps)
* [Additional Resources](#U1A-Additional-Resources)
* [Glossary](#U1A-Glossary)

<hr>

<a id="U1A-Getting-Started"></a>

## Getting Started

We are using Jupyter Notebooks for the majority of our work. We will connect to databases, visualize data, perform advanced statistics, and more in this course! But first, let's learn the basics of Jupyter Notebooks.

### Using Jupyter Notebooks
To execute a cell, click in it and press `SHIFT`-`ENTER` on the keyboard, click the "Run selected cells and advance" button (it looks like the "Play" button at the top of your notebook window), or select "Cell" and "Run Cells" from the Jupyter Lab menu.

<br>

![Running cells in Jupyter screenshot](run_cells.jpg)

Frequently used keyboard shortcuts:

`ENTER` - Begin data entry mode in the selected cell

`m` - While not in data entry mode, change selected cell to Markdown

`y` - While not in data entry mode, change selected cell to Code

`a` - Add a new cell **A**bove the selected cell

`b` - Add a new cell **B**elow the selected cell

`x` - Delete the selected cell (when not in data entry mode)

`z` - Undo cell operation

`ESC` - Exit data entry mode on the selected cell

### Installing Python Packages
This notebook makes use of an important third-party library called [pandas](https://pandas.pydata.org/). Let's make sure it's installed in our VMWare instance before continuing the lesson.

The VMWare **CSCC Windows 12HR Logoff** virtual machine instance has a pre-installed Python package manager, [Anaconda](https://www.anaconda.com/download). We use Anaconda in this course to provide the tools needed to use Jupyter Notebooks and to manage Python packages; therefore, it is a best practice to use the `conda` package manager command line tool to install new packages. If the "Getting Started" guide has been followed, all of the add-on packages should already be installed, and we can verify that the `pandas` package installed correctly by running the following command in a code cell, like so:

``` bash
    # run commands as if using the Terminal by prefacing the command with the exclamation character (!)
    !conda list -n cscc_env pandas
```

Here, we are specifying the command, `conda` be used to `list` the package, `pandas`, available in the environment, `cscc_env` (the `-n` tells the `conda list` command to look for the environment named (`-n`) some name, in this case, `cscc_env`). If the package is installed, the notebook will output the following result:

``` python
    # packages in environment at C:\Users\<your username>\.conda\envs\cscc_env:
    #
    # Name                    Version          Build  Channel
    geopandas                 0.9.0                      py_1  
    geopandas-base            0.9.0                      py_1  
    pandas                    1.4.4            py38hd77b12b_0  
    pandas-datareader         0.10.0             pyhd3eb1b0_0  
```

The reason we see packages listed other than the `pandas` package is that these other packages have `pandas` listed in their name.

**NOTE:** *Within VMWare, this should be all that is necessary to validate that any given notebook in this course can be completed. If using a personal computer or working outside of VMWare, or in a virtual environment other than **cscc_env**, the following commands can be used to install packages.*

<hr>

If the package is not installed, no package name will be listed, and no version or build channel information will be displayed. If the package is not yet installed, installing it is as simple as running the following command in an Anaconda Prompt shell running as Administrator to install it, like so:

``` python
    conda install pandas
```

Because this command requires interaction in a separate console window, and requires interaction to accept or decline any installation of package(s), we can also add a few parameters to automate the installation and search all official repositories for the packages we want to install:

``` python
    !conda install -c conda-forge --yes pandas
```

For a variety of reasons, the Conda package manager does not always have access to every package available for Python. We can use the the [pip](https://pip.pypa.io/en/stable/) tool to install these libraries. Typically this tool is executed from the command line but we can call it from within the notebook using `!` to execute shell commands. Though it's possible to use `!pip` to execute pip, this can cause problems in some environments. Instead, we get the path to the current python interpreter and run it with the pip module.

**NOTE:** If you are using an older version of Mac OS X, use `!pip3` instead of `!pip`. We are using the Python 3.x interpreter via Jupyter Notebooks. Python 3.x is different from the Python 2.x interpreter that is part of the core Mac OS X systems through Mac OS 10.14 (Mojave). Mojave was the latest Mac OS until October 6, 2019. As of Mac OS 10.15 (Catalina), which was released October 7, 2019, Python 3.x is the default version of Python.

In [ ]:
!conda list -n cscc_env pandas

Now that the `pandas` package is installed, we can continue learning how to use the `pandas` package to manipulate data!

## Introduction to pandas

Before loading data with `pandas`, let's explore two of the common data structures `pandas` provides: the [**Series**](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) and the [**DataFrame**](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html). A Series is used to store one-dimensional data while a DataFrame can be used for two-dimensional, or tabular, data. In statistics, we typically refer to a pandas *Series* as a **variable**, and a pandas *DataFrame* can be considered a statistical **table** or in more popular terms, a spreadsheet.

To begin, we import the `pandas` module and follow the convention of giving it an alias name of `pd` to save ourselves some typing when referring to methods and functions contained within `pandas`.

In [1]:
import pandas as pd

With `pandas` imported, we can create a *Series*. While there are a variety of ways to do this, we'll use a list here.

In [ ]:
data_list = [1, 2, 3, 4, 5]
data_series = pd.Series(data_list)

To view the contents of the *Series*, we can use the [`print()` function](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Running%20Code.html#sys.stdout-and-sys.stderr) from Jupyter or the [`display()` function](https://ipython.readthedocs.io/en/stable/api/generated/IPython.display.html) function from the predecessor to Jupyter, IPython.

In [ ]:
#Jupyter
print(data_series)

In [ ]:
#iPython
display(data_series)

When using a notebook, we can also display its contents by referencing the *Series* on the last line of a cell.

<hr>

<a id="U1A-Exercise-1"></a>

<mark> **Excercise 1** In the cell below, display the contents of the Series stored in the `data_series` variable by referencing the *Series* on the last line of the cell - here, this is also the only line in the cell.</mark>

In [5]:
data_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

[Top](#U1A-Top)

<hr>

To access the values stored in the *Series* themselves, we can use the `values` attribute. Here, the values are stored using a [NumPy](http://www.numpy.org/) array. NumPy is a scientific computing package, and it is useful for working with numerical or high-volume data; the pandas package relies heavily on NumPy functionality to provide the ease of use available in pandas. NumPy arrays have methods that allow us to transform an array to a traditional Python data structure, such as a list; a pandas *Series* exposes this functionality as well.

In [9]:
# access the values of a Series
data_series.values

array([1, 2, 3, 4, 5])

In [ ]:
# convert the array of values to a list
data_series.values.tolist()

In [ ]:
# convert the Series to a list using the underlying array's tolist() method,
# which is the same as the previous statement
data_series.tolist()

Notice that we didn't have to use the `print()` or `display()` functions to display content. If the last statement of a cell is an object by itself or an operation that doesn't assign the value to a variable, then Jupyter will display the string representation of that object or result as though the `print()` function was called. For example, because `data.values` was the last statement of the cell, the content of `data.values` was displayed.

As noted earlier, values in a *Series* are also associated with an index. We can manually specify an index or allow pandas to generate one as was done for our *Series*, `data_series`. To access the index, we can use the *Series* `index` attribute.

In [6]:
# show Series index
data_series.index

RangeIndex(start=0, stop=5, step=1)

The automatically-generated index is represented by the `RangeIndex` class that describes what an index of a *Series* is. This approach is a more memory-efficient way of storing the index data than creating an array containing each value. If necessary, we can generate the corresponding array using the `values` attribute on the index itself.

<hr>

<a name="U1A-Exercise-2"></a><mark> **Exercise 2** In the cell below, use the `values` attribute of `data.index` to display the underlying array positions where each data element is stored.
</mark>

In [11]:
data_series.index.values

array([0, 1, 2, 3, 4])

[Top](#U1A-Top)

<hr>

To access elements within a *Series*, we can use the same bracket notation used with other data structures in Python, such as lists. For example, to access the second element we can execute `data[1]`. As with most other data structures in Python, *Series* are zero-indexed and begin numbering at zero.

In [ ]:
# access the second element in the Series, which has a value of 2
data_series[1]

*Series*, like *Lists*, also support slicing. Just as with *List* slicing, we specify the index range to extract the portions of the *Series* that we are interested in obtaining. In the following code, remember that element **1** is actually the second element in our *Series* because element **0** would be the first element, while element **4** corresponds to the fourth element in our *Series*, in this case, where the index number is **3**.

In [12]:
# slice of elements from index 1 to index 4
data_series[1:4]

1    2
2    3
3    4
dtype: int64

<hr>

When creating a *Series*, we can specify the index using the `index` keyword argument. As shown in the example below, an index does not need to be numeric.

In [17]:
# series with index specified
temperature_data = pd.Series([60, 65, 68, 63, 61], index=["Mon", "Tue", "Wed", "Thu", "Fri"])
temperature_data

Mon    60
Tue    65
Wed    68
Thu    63
Fri    61
dtype: int64

When working with a non-numeric index, we can still access elements in a *Series* using bracket or slice notation. Note that slices include the last element in the slice when working with non-numeric indexes.

In [22]:
# access an element using bracket notation and a single index label
temperature_data["Mon"]

np.int64(60)

In [20]:
temperature_data["Mon":"Thu"]

Mon    60
Tue    65
Wed    68
Thu    63
dtype: int64

[Top](#U1A-Top)

<hr>

<a name="U1A-Exercise-3"></a>

<mark> **Exercise 3** In the cell below, use bracket notation and slicing to access values with index labels between "Mon" and "Thu".
</mark>

In [ ]:
# Assuming "between" is inclusive
temperature_data["Mon":"Thu"]

# Assuming "between" is exclusive
# temperature_data["Tue":"Wed"]

Tue    65
Wed    68
dtype: int64

[Top](#U1A-Top)

<hr>

The pandas library supports working with data from a variety of sources and data structures. In previous examples, we created *Series* objects using lists. Below is an example in which a *Series* is created from a dictionary. Note that prior to Python 3.7, the order of dictionary keys is not guaranteed; this affects the order in which values appear in the *Series*. Since we are using Python version 3.8+ you won't notice this unordered storage, but you should be aware of this nuance of prior versions of Python.

In [24]:
# dictionary of temperatures
temperatures = {"Mon": 60, "Tue": 65, "Wed": 68, "Thu": 63, "Fri": 61}
temperatures

{'Mon': 60, 'Tue': 65, 'Wed': 68, 'Thu': 63, 'Fri': 61}

In [25]:
# create a Series from a dictionary
temps = pd.Series(temperatures)
temps

Mon    60
Tue    65
Wed    68
Thu    63
Fri    61
dtype: int64

In [26]:
# slicing
temps["Mon":"Thu"]

Mon    60
Tue    65
Wed    68
Thu    63
dtype: int64

The pandas library provides the *DataFrame* data structure for use with two-dimensional data. One can think of the *DataFrame* as an extension of a *Series* in the sense that a *DataFrame* consists of multiple *Series*. For example, suppose we have two *Series* representing high and low daily temperatures.

In [27]:
# two Series
low_temps = pd.Series({"Mon": 52, "Tue": 49, "Wed": 55, "Thu": 53, "Fri": 51})
high_temps = pd.Series({"Mon": 60, "Tue": 65, "Wed": 68, "Fri": 61, "Thu": 63})
display(low_temps, high_temps)

Mon    52
Tue    49
Wed    55
Thu    53
Fri    51
dtype: int64

Mon    60
Tue    65
Wed    68
Fri    61
Thu    63
dtype: int64

When creating a *DataFrame*, we can specify a dictionary where keys represent column names and the corresponding values are the *Series* containing data. Below, the `forecast` *DataFrame* is created with the two *Series* created earlier. Note that the keys of our original *Series* of dictionary items become the row heading, or `index`, of our *DataFrame*.

In [28]:
# create a dataframe from two series
forecast = pd.DataFrame({"high": high_temps, "low": low_temps})
forecast

     high  low
Fri    61   51
Mon    60   52
Thu    63   53
Tue    65   49
Wed    68   55

Notice that pandas automatically aligns *Series*' data based on index values. The combined indexes of the *Series* serve as the index for the *DataFrame*. If you review the last two code steps you will notice that we assigned the high temperature for Friday before the high temperature for Thursday. While the indexes matched, and therefore joined the correct high and low temperatures for each day, the `forecast` *DataFrame* then ordered our two *Series* by picking the alphabetical ordering of the dictionary key of day names (Fri, Mon, Thu, Tue, and Wed). We can specify the order of the index when we create the *DataFrame* to make the ordering more logical.

In [29]:
# specify index order
forecast = pd.DataFrame({"high": high_temps, "low": low_temps}, index=["Mon", "Tue", "Wed", "Thu", "Fri"])
forecast

     high  low
Mon    60   52
Tue    65   49
Wed    68   55
Thu    63   53
Fri    61   51

Just as we could with Series, we can access the index of a *DataFrame* using the `index` attribute.

In [30]:
# display index
forecast.index

Index(['Mon', 'Tue', 'Wed', 'Thu', 'Fri'], dtype='object')

A *DataFrame*'s index serves to identify values in one dimension. For one-dimensional *Series* objects, a value for the index is sufficient to identify a specific value. Because *DataFrames* represent two-dimension data, an index is not enough to identify a specific value. In a *DataFrame*, column labels are used to identify the second dimension. To view a *DataFrame*'s columns, we can use the `columns` attribute.

In [31]:
# display columns
forecast.columns

Index(['high', 'low'], dtype='object')

To access values associated with a column, we can use bracket notation with the column name.

In [ ]:
# access a column using bracket notation
forecast['high']

A *DataFrame* also has attributes corresponding to its columns allowing us to access column data using the dot operator.

In [ ]:
# accessing a column using an attribute
forecast.high

Each *DataFrame* column is a *Series*, and we can verify this using the `type()` or `isinstance()` function.

In [32]:
# columns are Series
type(forecast.high)

pandas.core.series.Series

In [ ]:
# columns are Series
isinstance(forecast.high, pd.Series)

As with a *Series*, we can access data stored in a *DataFrame* using the `values` attribute.

In [33]:
# underlying values
forecast.values

array([[60, 52],
       [65, 49],
       [68, 55],
       [63, 53],
       [61, 51]])

Because the *DataFrame* represents two-dimensional data, its values are stored as a NumPy array of nested NumPy arrays where each inner array corresponds to a row. Like most objects that represent a collection, arrays support bracket notation.

In [34]:
# first row
forecast.values[0]

array([60, 52])

In [ ]:
# first row, second value
forecast.values[0][1]

While this method of accessing data based on the *DataFrames* underlying array works, it is cumbersome. We can instead use the *DataFrame*'s index and columns. As we saw earlier, we can use a column's name to access its values.

In [35]:
# access column by name
forecast['low']

Mon    52
Tue    49
Wed    55
Thu    53
Fri    51
Name: low, dtype: int64

To access a row, we rely on the index corresponding to the row and the *DataFrame*'s [`loc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) attribute.

In [36]:
# access a row by index label
forecast.loc['Wed']

high    68
low     55
Name: Wed, dtype: int64

The `forecast` *DataFrame* has string index values, but we can still use integers to specify a specific row through the use of the [`iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html) attribute.

In [ ]:
# access a row by position
forecast.iloc[2]

We can combine these methods of accessing specific rows and columns to access a specific value within the DataFrame.

In [37]:
forecast.loc['Wed']['low']

np.int64(55)

In [ ]:
forecast['low'].loc['Wed']

Alternatively, we can specify both the index and column name simultaneously when using `loc`, or the index and column numbers when using the [`iloc` function](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html). Notice also how we wrap both statements below with the `print()` function to print two outputs at once in a single Jupyter code cell.

In [ ]:
print(forecast.loc['Wed', 'low'])
print(forecast.iloc[2, 1])

Using column names and index values/labels to access data gives more context to what the corresponding data represents than using the *DataFrame*'s underlying array.

We can also use slicing with a *DataFrame*'s index or columns. To specify a column slice, we must use the `loc` or `iloc` properties.

<hr>

<a name="U1A-Exercise-4"></a>

<mark> **Exercise 4** In the cell below, slicing with the *DataFrame*'s `loc` attribute to display rows where the index is between "Mon" and "Wed".
</mark>

In [38]:
forecast.loc["Mon":"Wed"]

     high  low
Mon    60   52
Tue    65   49
Wed    68   55

[Top](#U1A-Top)

<hr>

We can use slicing with columns and rows simultaneously. We will be using the [`.loc` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) which are part of the pandas DataFrame class. Using the `.loc` function allows us to reference rows and columns by label. Another, related function is the [`.iloc` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html), which is used to reference rows and/or columns by integer-location based index.

In [39]:
# row and column slicing
forecast.loc['Mon':'Wed', 'high':'low']

     high  low
Mon    60   52
Tue    65   49
Wed    68   55

We can also use bracket notation to apply a **data mask** to a *DataFrame*. For example, if we want to view rows in which the high temperature is 65 or greater we can create the following mask.

In [ ]:
# create a mask
mask = forecast.high >= 65
mask

Applying the mask to the *DataFrame* effectively filters the data.

In [ ]:
# apply a mask
forecast[mask]

Another method for returning the rows involved in a mask that is still the same shape (same number of rows and columns as the original dataframe) is to use the `.where()` method on a DataFrame.

In [ ]:
# where() method applied
forecast.where(forecast.high < 65)

Another advantage to using *DataFrames* is the ease with which we can manipulate the data. For example, the following line calculates the mean temperature value for each row and stores the value in a new column. Had we used another data structure, we might have had to write a for-loop to do this calculation.

In [ ]:
# calculate new column's values
forecast['mean'] = (forecast['high'] + forecast['low']) / 2
forecast

In fact, for performance reasons, we should try to avoid the use of `for`-loops when manipulating data stored in a *DataFrame*. A `for`-loop will certainly work if needed though. We can iterate through a *DataFrame*'s rows using the `iterrows()` method which returns the index and row content separately as we move from row to row.

In [ ]:
# display index and row data for each row
for index, row in forecast.iterrows():
    print(f"Index: {index}")
    print(f"Row: {row}")

Similarly, we can use a loop to manipulate row values.

In [ ]:
# calculate difference using a for loop
forecast['difference'] = 0  # create new column with all zeros
for index, row in forecast.iterrows():   # iterrows creates a copy of the DataFrame, forecast...
    row['difference'] = row['high'] - row['low']
    forecast.loc[index] = row  # ... so we need to explicitly update the dataframe

forecast

As we continue working with pandas, additional features will be explored. For a more in-depth introduction to pandas, see the [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/).

## Next Steps

Having a catalog of the data will help us determine if what we have is sufficient to continue with the project or if we'll need to gather more data. For example, if we had been asked to determine if factors such as debt-to-income ratio or an internal-assigned grade was reliable in determining whether a loan would be paid off or not, it would appear that we have enough data to proceed based on our initial description of the data. If, however, we were asked to give different weights to different types of existing debt (credit card balances versus home mortgages, for example), we would have to request additional data.

Assuming we have sufficient data, our next step might be to further explore our data to characterize it and determine if any relationships exist. Before exploring data, however, the data must be transformed or cleaned to facilitate analysis. Often, data cleansing and exploration are interwoven tasks.

<a id="U1A-Exercise-Answers"></a>

## Exercise Answers

1.  [Exercise 1](#U1A-Exercise-1)
    ```python
    data_series
    ```
    
    
2.  [Exercise 2](#U1A-Exercise-2)
    ```python
    data_series.index.values
    ```


3.  [Exercise 3](#U1A-Exercise-3)
    ```python
    temperature_data["Mon":"Thu"]
    ```


4.  [Exercise 4](#U1A-Exercise-4)
    ```python
    forecast.loc['Mon':'Wed']
    ```

<a id="U1A-Additional-Resources"></a>

## Additional Resources

- [CRISP-DM](https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining)
- [Data Science Workflow With Python](https://www.business-science.io/python-cheatsheet.html)
- [Pandas Documentation](https://pandas.pydata.org/)
- [*Python Data Analysis* by Fandango, Chapter 5: Retrieving, Processing, and Storing Data (Safari Books)](http://proquest.safaribooksonline.com.cscc.ohionet.org/book/programming/python/9781787127487/python-data-analysis-second-edition/ch05_html)
- [*Python Data Science Handbook* by VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/)
- [*Python for Data Analysis* by Wes McKinney, Chapter 6: Data Loading, Storage, and File Formats (Safari Books)](http://proquest.safaribooksonline.com.cscc.ohionet.org/book/programming/python/9781491957653/data-loading-storage-and-file-formats/io_html)

<a id="U1A-Glossary"></a>

## Glossary

* pandas [Series](https://pandas.pydata.org/docs/reference/series.html): **class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)** One-dimensional ndarray with axis labels (including time series).
  * [.values](https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html) property: Return Series as ndarray or ndarray-like depending on the dtype.
  * [.to_list()](https://pandas.pydata.org/docs/reference/api/pandas.Series.to_list.html) function: Return a list of the values.
  * [.index](https://pandas.pydata.org/docs/reference/api/pandas.Series.index.html) property: The index (axis labels) of the Series.
* pandas [DataFrame](https://pandas.pydata.org/docs/reference/frame.html): **class pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)** Two-dimensional, size-mutable, potentially heterogeneous tabular data.
  * [.columns](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html) property: The column labels of the DataFrame.
  * [.loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html) property: Access a group of rows and columns by label(s) or a boolean array.
  * [.iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) property: Purely integer-location based indexing for selection by position.
* The `where()` method and data masking: https://pandas.pydata.org/docs/user_guide/indexing.html#the-where-method-and-masking
* [Python Operators](https://docs.python.org/3/reference/lexical_analysis.html#operators): Operators can be used in building conditional statements for pandas data masks, or in `where` method logic. Operators such as `>` (greater than), `<` (less than), `==` (equal to), `!=` (not equal to), `<=` (less than or equal to), or `>=` (greater than or equal to) are the most commonly used operators.

[Top](#U1A-Top)